div{
    padding: 12px;
    width: 90%;
    height: 350px;
    margin-left: 60px;
    border: brown solid 3px;
}

h2{
    border-radius: 3px;
    margin-left: 80px;
    font-style: italic;
    color:blue;
}


h3{
float: center;

}

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}