div {
    text-align: center;
    width: 350px;
    height: 200px;
    font-size: large;
    margin-left: 280px;
    margin-top: 180px;
    
}

#subTitle {
    text-align: justify;
    font-size: large;
    color:  blue;
    
}
