
<h2>Welcome to Home Page!</h2> 
<h2>{{user}}</h2>

<form class="form-inline" #userCont="ngForm" (ngSubmit) = "addTotable(userCont.value)">
    <label class="sr-only" for="inlineFormInput">Name</label>
    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="John freeman" name="fname"ngModel>
  <br><br/>
    <label class="sr-only" for="inlineFormInputGroup">Username</label>
    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
      <div class="input-group-addon">@</div>
      <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Username" name="userName"ngModel>
    </div>
  
  
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="logout" class="btn btn-secondary" (click)="logout()" >Logout</button>
  </form>
 
   
<table>
    <tr *ngFor="let ung of User_Names">
      <td>{{ung.fname}}</td><br/>
      <td>{{ung.userName}}</td>
  </tr>
  </table>
  
